/* Custom styles for Plugin Configuration Form */

.array-button-style {
  flex: 1 1 0%;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
}

.btn-group-flex {
  display: flex;
  justify-content: space-around;
}
